<!-- Carrosel de Imagens -->
<div class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="/css/img/bannersite3.jpg" alt="Primeiro Slide">
          </div>
          <div class="carousel-item">
            <img src="/css/img/bannersite2.jpg" alt="Segundo Slide">
          </div>
          <div class="carousel-item">
            <img src="/css/img/bannersite.jpg" alt="Terceiro Slide">
          </div>
        </div>
    </div>
<!-- fim navegador e carousel-->