<section class="testimonials text-center bg-light">
        <div class="container">
          <div data-anime="top" class="row">
            <div class="col-lg-6">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d39184.39364005292!2d-50.04847602709532!3d-29.764806062655175!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x9518788fbf689b2b%3A0x7a5616d739ed0e2f!2sgoogle+maps+capao+da+canoa+jovem+profissional!3m2!1d-29.763599499999998!2d-50.0308231!5e0!3m2!1spt-BR!2sbr!4v1536000624477" width="300" height="300" frameborder="0" style="border:10px; border-style: solid; border-color: green;" allowfullscreen></iframe>
                <div style="padding-top: 20px;">
                <h4>Unidade Capão da Canoa</h4>
                <p class="font-weight-light mb-0" style="padding-top: 15px; padding-left: 10px;"><strong>Horário de atendimento:</strong> das 8h às 12h e das 13:00h às 22h (Segunda à Sexta Feira), das 8h às 12h nos sábados.</p>
                <p class="font-weight-light mb-0"><strong>Telefone:</strong> (51) 3416 0654</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d110754.61389942357!2d-50.5892597!3d-29.8330639!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x951857fc2d1df895%3A0x327523b56e0d7ee7!2sCURSOS+DE+PROFISSIONALIZANTES+-ESCOLA+T%C3%89CNICA+E+FACULDADE+UNIALCANCE+%26+JOVEM+PROFISSIONAL+Santo+Ant%C3%B4nio+da+Patrulha+-+RS%2C+95500-000!3m2!1d-29.8330824!2d-50.5192195!5e0!3m2!1spt-BR!2sbr!4v1536002770174" width="300" height="300" frameborder="0" style="border:10px; border-style: solid; border-color: green;" allowfullscreen></iframe>
                <div style="padding-top: 20px; padding-left: 10px;">
                <h4>Unidade Santo Antônio da Patrulha</h4>
                <p class="font-weight-light mb-0"><strong>Horário de atendimento:</strong> das 8h às 12h e das 13:00h às 22h (Segunda à Sexta Feira), das 8h às 12h nos sábados.</p>
                <p class="font-weight-light mb-0"><strong>Telefone:</strong>  (51) 3662 3112</p>
                </div>
              </div>
            </div>
      </section>