      <!-- Grid de Icones -->
      <section class="features-icons bg-light text-center">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Materiais de Qualidade</h3>
              <p class="lead mb-0">Com todos os materias necessários para todos os cursos!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Aulas Práticas</h3>
              <p class="lead mb-0">Aulas práticas e teóricas, com professores qualificados!</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>Certificado Reconhecido</h3>
              <p class="lead mb-0">Certificado reconhecido pelas principais empresas do país!</p>
            </div>
          </div>
        </div>
    </section>
  <!-- Fim dos showcases -->

  <!-- Imagens em Showcase -->
  <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">
          <div data-anime="top" class="col-lg-12 order-lg-1 my-auto showcase-text" style="text-align: center;">
            <h1 style="padding-bottom: 20px;">Conheça mais sobre nossa escola.</h1>
            <p class="lead mb-0">A Escola Jovem Profissional é uma rede de educação profissional com sedes nas cidades de <strong>Santo Antônio da Patrulha</strong> e <strong>Capão da Canoa/RS</strong>, que nestes mais de <strong>17</strong> anos de atividades, investe no futuro da comunidade. Premiada diversas vezes como Escola de Referência Educacional na região, temos o comprometimento na formação com excelência nas áreas em que atuamos: Cursos técnicos, profissionalizantes, Faculdade e Pós-graduação, ensinando valores éticos na inserção do contexto profissional. Com ampla infraestrutura e mais de 100 cursos, a <strong>Escola Jovem Profissional</strong> vem conquistando seu espaço e tornando-se referência em educação na Região Sul do país. Mais que formar alunos, nossa escola tem o comprometimento de formar uma geração de cidadãos cada vez mais capacitados para o nosso Brasil e que possam adquirir melhores posições no mercado de trabalho.</p>
          </div>
        </div>
      </section>
  <!-- Fim das imagens de showcases -->